{% extends "map/master.html" %}
{% load static %}
{% block content %}

    <script>
    function initMap() {

        var pos = {lat: 56.832040, lng: 60.598218};

        var opt = {
            center: pos,
            zoom: 10,
        };


        var map = new google.maps.Map(document.getElementById("map"), opt);

        marker = [];
        info = [];
        var i = 0;
        var mas = [];
        Name = [];
        posx= [];
        posy = [];
        comment = [];



        {% for mark in marks %}

            Name[i] = "{{ mark.name }}";
            posx[i] = {{ mark.position_x }};
            posy[i] = {{ mark.position_y }};
            comment[i] = "{{ mark.comment }}";
            i++;
        {% endfor %}


        for(let j = 0; j < i; j++) {



            marker[j] = new google.maps.Marker({
                position: {lat: posx[j], lng: posy[j]},
                map: map,
                label: Name[j],
            });

            info[j] = new google.maps.InfoWindow({
                content: '<h3>' + comment[j] + '</h3>',
            });


            marker[j].addListener("click", function () {
                info[j].open(map, marker[j]);
            });

        }
    }

    </script>

<script src="https://maps.google.com/maps/api/js?key=AIzaSyD9Cl7pCDzEsH_LKfw4SVFPyV8vUbIaUSc&callback=initMap" async defer></script>

{% endblock content %}