{% extends "map/master.html" %}
{% load static %}
{% block content %}


    <script src="https://api-maps.yandex.ru/2.1/?apikey=ccd08e6c-baa4-4ccd-bb52-405b31957b32&lang=ru_RU" type="text/javascript"></script>

    <script>

    ymaps.ready(initMap);

    function initMap() {

        var pos = [56.832040, 60.598218];

        var opt = {
            center: pos,
            zoom: 10,
            controls: []
        };


        var map = new ymaps.Map("map", opt, );

        marker = [];
        info = [];
        let i = 0;
        var mas = [];

         marker[i] = new ymaps.GeoObject({
                geometry: {
                type: "Point", // тип геометрии - точка
                coordinates: pos // координаты точки
                }
            });

         map.geoObjects.add(marker[i]);

        {% for mark in marks %}

            mas[i] = {
                "posx": {{ mark.position_x }},
                "posy": {{ mark.position_y }},
                "comment": "{{ mark.comment }}",
                "name": "{{ mark.name }}",
            };

            i++;
        {% endfor %}

        for(let j = 0; j < i; j++) {

            marker[j] = new ymaps.GeoObject({
                geometry: {
                type: "Point",
                coordinates: [mas[j]["posx"], mas[j]["posy"]]
                }
            });

            marker[j].events.add('click', function (event) {

                event.preventDefault();
                var $this = $(this);

                if ($('body').hasClass('offcanvas')) {
                    $('a').removeClass('active');
                    $('body').removeClass('offcanvas');
                } else {
                    $('a').addClass('active');
                    $('body').addClass('offcanvas');
                }

            });


            map.geoObjects.add(marker[j]);
        }
    }

    </script>



{% endblock content %}