{% extends "map/master.html" %}
{% load static %}
{% block content %}

    {% block comment %}
    {% endblock comment %}

    <script src="https://api-maps.yandex.ru/2.1/?apikey=ccd08e6c-baa4-4ccd-bb52-405b31957b32&lang=ru_RU" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>

    ymaps.ready(initMap);

    function initMap() {

        var pos = [56.832040, 60.598218];

        var opt = {
            center: pos,
            zoom: 10,
            controls: []
        };


        var map = new ymaps.Map("map", opt, );

        marker = [];
        info = [];
        let i = 1;
        var mas = [];

        {% for mark in marks %}

            mas[i] = {
                "id": {{ mark.id }},
                "posx": {{ mark.position_x }},
                "posy": {{ mark.position_y }},
            };

            i++;
        {% endfor %}

        for(let j = 1; j < i; j++) {

            marker[j] = new ymaps.GeoObject({
                geometry: {
                type: "Point",
                coordinates: [mas[j]["posx"], mas[j]["posy"]]
                }
            });

            marker[j].events.add('click', function (event) {

                event.preventDefault();
                var $this = $(this);

                document.getElementById('id_id_mark').value = mas[j]["id"];

                if (!$('#section-info').hasClass('info-section-open')) {
                    $('body').toggleClass('offcanvas-info');
                    $('#section-info').toggleClass('info-section-open');
                }

                $.ajax({
                    type:"GET",
                    url: "",
                    data:{
                             id: mas[j]["id"],
                             type: 1,
                    },
                    success: function(json)
                    {
                        let s = json.id_comment;

                        spis = s.split('_');

                        for(let j = 0; j < spis.length - 1; j++) {

                            $.ajax({
                                type: "GET",
                                url: "",
                                data: {
                                    id: spis[j],
                                    type: 2,
                                },
                                success: function (com) {
                                    var tag = '<div class="boxes"><h1>' + com.username +  '</h1> <p>' + com.comment + '</p></div>';
                                    var target = document.getElementById('target');
                                    target.innerHTML += tag;
                                }
                        });
                        }

                        $('#name').text(json.name);
                        $('#comment').text(json.comment);
                        var pic = document.getElementById("image");
                        pic.style.backgroundImage = "url('media/"+json.image+"')";
                    }
                });

            });

            map.geoObjects.add(marker[j]);
        }
    }

    </script>



{% endblock content %}